
<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>
        City (Country)
        </td>
        <td>
            {{ data.name }}
            ({{ data.sys.country }})
        </td>
    </tr>

    <tr>
        <td>
            Weather
        </td>
        <td>
            {{ data.weather.0.description }}
        </td>
    </tr>



    <tr>
        <td>
        Temerature
        </td>
        <td>
            {{ data.main.temp }}
        </td>

    </tr>

    <tr>
        <td>
            Humidity
        </td>
        <td>
            {{ data.main.humidity }}
        </td>
    </tr>


    <tr>
        <td>
            Wind speed
        </td>
        <td>
            {{ data.wind.speed }}
        </td>
    </tr>


</table>



{#
{{ dump(data) }}
#}


