{% extends 'base.html.twig' %}

{% block title %}Vue{% endblock %}

{% block body %}


<link rel="stylesheet" href="{{ asset('assets/bootstrap-slider/css/bootstrap-slider.css') }}" >

<style>
#chartMain {
/*
	max-height: 300px !important;
*/
}

#bootstrapSliderHours .tooltip.in {
  opacity: 1;
}

.tooltip.in {
  opacity: 1;
}

</style>



    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">





{% verbatim %}

<div id="weatherWueApp">


<div id="appSpinnerId" v-if="appSpinner" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading... {{ appSpinner }}</span>
  </div>
</div>


<div v-if="errorMsg" class="alert alert-danger" role="alert">
  <div >{{ errorMsg }}</div>
</div>

<div v-if="citySearch" id="wwaCitySearch">{{ citySearch }}</div>


<span v-if="isLocal==true">
	LOCAL <button v-on:click="searchButton">searchButton</button>
</span>




<div class="dropdown show float-right mt-4">
  <a class="btn btn-info dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    History
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" v-if="citySearchHistory.length > 0" >
    <a class="dropdown-item" v-for="searchHis in citySearchHistory" v-on:click="searchCity(searchHis.name)">{{ searchHis.name }}</a>
  </div>
</div>
<div class="clearfix1" style="clear: both;"></div>

<div class="card mb-4" style="">
  
  <div class="card-body">
    
        <div class="row" v-for="cityIno in cityInfo">
        
            <div class="col-md-3">
            
            Sunrise
                <span class="badge badge-warning badge-pill">{{ cityIno.sunrise|formatDateHM }}</span>
                &nbsp;
                <span class="badge badge-dark badge-pill">{{ cityIno.sunset|formatDateHM }}</span>
            Sunset
            <br>
                  Population
                    <span class="badge badge-primary badge-pill">{{ cityIno.population }}</span>
            <br>
                 Coordinates
                    <span class="badge badge-light badge-pill">
                    {{ cityIno.coord.lat }}/{{ cityIno.coord.lon }}
                    </span>
            </div>
            
            <div class="col-md-5">
           		 <h1 class="text-center">{{ cityIno.name }}, {{ cityIno.country }}</h1>
           		 
            </div>
            
            <div class="col-md-4">
            		 <div class="text-center mt-4111" id="bootstrapSliderHours">
                    0:00 &nbsp; <input
                    	id="rangesliderHours2"
                    	data-slider-id='ex1Slider'
                    	class="custom-range"
                        type="hidden"
                        v-model="hourSlider"                
                        data-slider-min="0" data-slider-max="21" data-slider-step="3" 
                        >  &nbsp; 21:00
                        <input id="rangesliderHoursModel" v-model="hourSlider2" type="hidden" >
                </div>
                    
            </div>
        
        </div><!-- end loop --> 
  </div>
</div>



<div id="buildWeekInfoVue2">
			
	<div class="card-deck mb-3 text-center" >
	
		<div class="card mb-4 shadow-sm" v-for="forecastRes in weekByHour">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">
				    {{ forecastRes.dt_txt|formatDateDayName }} 
				</h4>
				<small>
					{{ forecastRes.dt_txt }} 
				</small>
			</div>
			<div class="card-body">
				<h2 class="card-title pricing-card-title">
					{{ forecastRes.main.temp }}<small class="text-muted"><span class="symbol">°</span>C
					</small>
				</h2>
			
				
				<div v-if="forecastRes.weather.length>0" v-for="item in forecastRes.weather">
					<img :src="'http://openweathermap.org/img/wn/' + item.icon + '@2x.png'">
				</div>
				
					
				<div class="font-weight-bold" v-if="forecastRes.weather.length>0" v-for="item in forecastRes.weather">
    				
    				{{ item.main }}
    				<br>
    				<small v-if="item.description">
    				{{ item.description }}
    				</small>
    				
    				
				</div>
				
				<span v-if="forecastRes.main">
					<hr>
    				<small>
						<span  v-if="forecastRes.main.humidity">
							Humidity: {{ forecastRes.main.humidity }}
    					</span>
    					<span  v-if="forecastRes.clouds.all">
        					Clouds: {{ forecastRes.clouds.all }}
        				</span>
        				<br>
    					
    					<span  v-if="forecastRes.main.pressure">
    						Pressure: {{ forecastRes.main.pressure }}
    					</span>
    					<span title="Wind speed" v-if="forecastRes.wind.speed">
    						Wind: {{ forecastRes.wind.speed }}
    					</span>
    					
    					
    					
					</small>
				</span>
				
					<!-- 
				<img :src="'http://openweathermap.org/img/wn/' + forecastRes.weather[0].icon + '@2x.png'">
					{{ forecastRes.weather && forecastRes.weather.length >0 ? forecastRes.weather[0].main : '' }}
				 -->
											
			</div>
		</div>
	
	</div>
	
	
</div>


<div id="buildWeekInfoVue">
			
	<div class="card-deck mb-3 text-center" >
	
		<div class="card mb-4 shadow-sm" v-for="forecastRes in weekList">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">
				    {{ forecastRes.dt_txt|formatDateDayName }} 
				</h4>
				{{ forecastRes.dt_txt }} 
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">
					{{ forecastRes.main.temp }}<small class="text-muted"><span class="symbol">°</span>C
					</small>
				</h1>
				

				
				<div v-if="forecastRes.weather.length>0" v-for="item in forecastRes.weather">
					<img :src="'http://openweathermap.org/img/wn/' + item.icon + '@2x.png'">
				</div>
				
					
				<div class="font-weight-bold" v-if="forecastRes.weather.length>0" v-for="item in forecastRes.weather">
    				
    				{{ item.main }}
    				<small v-if="item.description">
    				{{ item.description }}
    				</small>
    				
    				
				</div>
				
				<span v-if="forecastRes.main">
					<hr>
    				<small>
						<div  v-if="forecastRes.main.humidity">
							Humidity: {{ forecastRes.main.humidity }}
    					</div>
    					<div  v-if="forecastRes.main.pressure">
    						Pressure: {{ forecastRes.main.pressure }}
    					</div>
					</small>
				</span>
				
				<small>
				
    				<div  v-if="forecastRes.wind.speed">
    					Wind spped: {{ forecastRes.wind.speed }}
    				</div>
    				<div  v-if="forecastRes.clouds.all">
        				Clouds: {{ forecastRes.clouds.all }}
        			</div>
				
				</small>
				
					<!-- 
				<img :src="'http://openweathermap.org/img/wn/' + forecastRes.weather[0].icon + '@2x.png'">
					{{ forecastRes.weather && forecastRes.weather.length >0 ? forecastRes.weather[0].main : '' }}
				 -->
											
			</div>
		</div>
	
	</div>
	
	
</div>



			</div>

{% endverbatim %}

<div class="clearfix1" style="clear: both;"></div>

<div id="chartMainDiv" style="height: 300px;">
        <canvas id="chartMain"></canvas>
</div>




<script type="text/javascript">

jQuery(document).ready(function () {
	
	//$('[data-toggle="tooltip"]').tooltip();


});

</script>



            </div>

        </div>
    </div>
    
<div class="mt-5"> </div>    
<div class="mt-5"> </div> 
   

<script src="{{ asset('assets/js/vue.js') }}" ></script>
<script src="{{ asset('assets/js/axios.min.js') }}" ></script>
<script src="{{ asset('assets/js/vueMain.js') }}?cache={{ "now"|date("mdhms") }}" ></script>
<script src="{{ asset('assets/js/chartjs/Chart.bundle.js') }}" ></script>

<script src="{{ asset('assets/bootstrap-slider/bootstrap-slider.min.js') }}" ></script>

{% endblock %}